{% extends 'base.html' %}

{% block content %}

<h4>Youtube stats of crypto "scammers".</h4>
<hr>
<center>
<canvas id="myChart" width="1000" height="500"></canvas>
</center>
<hr>
<p>This page monitors a bunch of youtube channels to gather information about how much retail interest there is in crypto. In my opinion, the people who watches these guys could be a signal of overextension or echo bubble market conditions. Use under your own responsability<p>
<p>Data is being scraped since the 25th Jan 2023, probably need some time to run further experiments. Scrape runs hourly.</p>

<a href="https://github.com/pabalca/ytrend">Source code</a>
{% endblock %}

{% block scripts %}
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
          {% for item in labels %}
              "{{item}}",
          {% endfor %},
      ],
      datasets: [
      {
        label: '# views',
        data: [
            {% for item in views %}
                "{{item}}",
            {% endfor %},

        ],
        borderWidth: 1,
        yAxisID: 'y',
      },
      {
        label: '# subs',
        data: [
            {% for item in subs %}
                "{{item}}",
            {% endfor %},

        ],
        borderWidth: 1,
        yAxisID: 'y1',
      },

      ]
    },
    options: {
      responsive: true,
      scales: {
      y: {
        type: 'linear',
        display: true,
        position: 'left',
        min: 1200000000,
        max: 1400000000,
      },
      y1: {
        type: 'linear',
        display: true,
        position: 'right',
        min: 10000000,
        max: 12000000,

        // grid line settings
        grid: {
          drawOnChartArea: false, // only want the grid lines for one axis to show up
        },
      },
    }
    }
  });


{% endblock %}
